
/experiments/samples

# Python stuff
__pycache__/
*.py[cod]
.venv/

# Environment & Secrets (CRITICAL)
.env

# Project Data (Don't push 10k PDFs to Git!)
data/
samples/*.pdf
processed_output/

# Docker/System
.docker-compose.lock